[project]
name = "add-item"
version = "0.1.0"
readme = "README.md"

requires-python = ">=3.13"
dependencies = [
    "boto3",
]

[dependency-groups]
dev = [
  "pytest",
]

[build-system]
requires = ["uv_build>=0.9.26,<0.10.0"]
build-backend = "uv_build"
