name: gate

on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  prek-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --dev

      - name: Run Prek (pre-commit)
        uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037
        with:
          extra_args: "--all-files"

  services-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --dev

      - name: Run tests
        env:
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        run: ./scripts/service-test.sh --all
