name: gate

on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  prek-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --dev

      - name: Run Prek (pre-commit)
        uses: j178/prek-action@v1
        with:
          extra_args: "--all-files"

  services-checks:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --dev

      - name: Run tests
        env:
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        run: ./test.sh --all
